@model VsystemBiblioteca.Models.Livro

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar</h1>

<h4>Livro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TituloLivro" class="control-label"></label>
                <input asp-for="TituloLivro" class="form-control" />
                <span asp-validation-for="TituloLivro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoISBN" class="control-label"></label>
                <input asp-for="CodigoISBN" class="form-control" />
                <span asp-validation-for="CodigoISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutorLivro" class="control-label"></label>
                <input asp-for="AutorLivro" class="form-control" />
                <span asp-validation-for="AutorLivro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeEditora" class="control-label"></label>
                <input asp-for="NomeEditora" class="form-control" />
                <span asp-validation-for="NomeEditora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdPaginas" class="control-label"></label>
                <input asp-for="QtdPaginas" class="form-control" />
                <span asp-validation-for="QtdPaginas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
