@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron text-center">
    <h1>Vsystem Biblioteca</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem-Vindo a Vsystem Biblioteca</h2>
        <p>
            Desenvolvida no ambiente Visual Studio com ASP.NET core, Entity Framework e SQL Server LocalDB, seguindo o padrão MVC.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gerência de livros</h2>
        <p>Você pode adicionar Livros, Edita-los e excluir-los </p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Assista o tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Faça o download</h2>
        <p>Você pode verificar o código fonte desse projeto no Github </p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">Veja o código fonte &raquo;</a></p>
    </div>
</div>